body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #222;
}

header {
  background: #1f2937;
  color: white;
  text-align: center;
  padding: 50px;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  border-radius: 10px;
}